html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
body {
 line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
 display:block;
}
nav ul {
 list-style:none;
}
blockquote, q {
 quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}
a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}
/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000; 
 font-style:italic;
 font-weight:bold;
}
del {
 text-decoration: line-through;
}
abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}
table {
 border-collapse:collapse;
 border-spacing:0;
}
/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0; 
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}
input, select {
 vertical-align:middle;
}


/*start here*/
* {
	box-sizing: border-box;
}

/*html,*/
body {
	color: #444;
/*	font-family: 'MedievalSharp', 'Helvetica', 'Verdana', sans-serif;*/
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
@media screen and (min-width: 581px) and (max-width: 799px){
    body{
        font-size: 2.5vw
    }
}

@media screen and (min-width: 800px){
    body{
        font-size: 18px;
    }
}

@media screen and (max-width: 580px){
    body{
        font-size: 16px;
    }
}

html {
	overflow: hidden;
}
header {
	align-content: center;
	align-items: stretch;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-size: 1.5em;
    height: 3em;
	justify-content: flex-start;
	padding: 16px 16px 0 16px;
	transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
	width: 100%;
	will-change: transform;
	z-index: 2;
	vertical-align: middle;
}

header h1 {
	flex: 1;
	font-size: 1.4em;
	font-weight: bold;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	color: white;
    mix-blend-mode: difference;
}

header button {
    border: none;
    cursor: pointer;
    mix-blend-mode: difference;
    height: 3em;
    margin-right: 1em;
    opacity: 0.7;
    outline: none;
    overflow: hidden;
    transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    width: 6%;
    position: relative;
}
#buttInstall {
	background: url(/images/install.svg) center center/contain no-repeat ;
}
#buttColor{
	background: url(/images/colorswitch.svg) center center/contain no-repeat;
}

main {
	overflow-x: hidden;
	overflow-y: auto;
    width: 95%;
    box-shadow: 10px;
    position: relative;
    margin: 5% auto;
    background-color: rgba(255,255,255,0.3);
}
main ul{
    list-style: none;
    width: 46%; 
    height: 100%;
    padding: 0;
    display: inline-block;
    position: relative;
}
main ul li{
    width: 100%;
    position: relative;
    font-size: 2em;
    margin-bottom: .2em;
    mix-blend-mode: darken;
/*    color: black;*/
}
.next{
    width: 100%;
    font-size: 0.8em;
    text-align: center;
}
#left {
    float: left;
}
#right {
    float: right;
}
#left li{
    text-align: right;
}
#modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

#modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}
#modal-content button{
    display: inline;
    -webkit-appearance: none;
    border-radius: 0;
}
#modal-close {
    color: #aaa;
    float: right;
    position: relative;
    right: -2%;
    top: -0.6em;
    font-size: 1.5em;
    font-weight: bold;
}
#modal-close:hover,
#modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.colorChoice{
    display: inline-block;
    width: 3em;
    height: 3em;
    position: relative;
    margin: 0.2em;
    border: 0.3em solid rgba(0,0,0,0);
}
#addcolor{
    display:inline-block;
    width: 3.1em;
    height: 3.1em;
    margin: 0;
    position: relative;
    border: .1em solid #000
}
.dispcolor{
    display:inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    pointer-events: none;
    border: 0;
    background: black;
}
.dispcolor.cfg {
    clip-path: polygon(0% 100%,100% 0%,0% 0%);
    -webkit-clip-path: polygon(0% 100%,100% 0%,0% 0%);
}
.dispcolor.cbg{
    clip-path: polygon(0% 100%,100% 0%,100% 100%);
    -webkit-clip-path: polygon(0% 100%,100% 0%,100% 100%);
    top: -107%;
}
#addbutton {
    position: relative;
    width: 3em;
    height: 3em;
    top: -5em;
}
#rmbutton {
    position: relative;
    height: 3em;
}
#prevtxt {
    position: relative;
    top:-2em;
}
